<!-- TOOLBAR -->
<div id="toolbar">

  <ul>
		<li>
		
		<!-- MODAL BUTTON -->
		<button id='modal-button' @click="showModal = true"> Menu </button>
			<modal v-if="showModal" @close="showModal = false"> </modal>
  		<!-- MODAL END -->

		<li> Supertutortv </li>
		<li> Hi, {{data.profile.firstName}} </li>
	</ul>

</div>
<!-- MAIN DIV -->
<div class="maindiv">

  <h1> \{{currentCourse}} </h1>


  <iframe width="840" height="690" src="https://www.youtube.com/embed/9szNGXja85M">
</iframe>

</div>

<!-- RECENTLY WATCHED -->
<div id="recently-watched">
	<p> Recently Watched </p>
</div>

{{#each data.videos}}
    {{#if this.completion}}
    <li> {{@key}} : <iframe src={{this.uri}}>
    </iframe> </li>
    <br>
    {{/if}}
{{/each}}

<!-- RECOMMENDED -->
<div id="recommended">
	<p> Recommended </p>
</div>
{{#each data.videos}}
    {{#unless this.completion}}
    <li> {{@key}} : <iframe id={{@key}} src={{this.uri}}>
    </iframe> </li>
    <br>
    {{/unless}}
{{/each}}


<script src="https://unpkg.com/vue@2.3.4"></script>

<script>





//MODAL TAG TEMPLATE
	Vue.component('modal', {
  	template:

`       <transition name="modal">
          <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-container">

              <!-- ACTUAL MODAL TEXT -->

                <div class="modal-body">
                  <h1> Your profile </h1>
                    <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'Profile')">Profile</button>
                    <button class="tablinks" onclick="openTab(event, 'Orders')">Orders</button>
                    <button class="tablinks" onclick="openTab(event, 'Courses')">Courses</button>
                    <button class="tablinks" onclick="openTab(event, 'Settings')">Settings</button>
                  </div>


                    <div id="Profile" class="tabcontent">
                      <h3>Profile</h3>
                        {{data.profile.firstName}} {{data.profile.lastName}}
                        <img src={{data.profile.image}} height="80">
                    </div>

                    <div id="Orders" class="tabcontent">
                      <h3>Orders</h3>
                      <ul>
                          {{#each data.orders}}
                              <li>{{@key}}
                              <ul>
                              <li>Order number: {{this}}</li>
                              </ul>
                              <li></li>
                          {{/each}}
                      </ul>
                    </div>

                    <div id="Courses" class="tabcontent">
                      <h3>Courses</h3>
                      <ul>
                        {{#each data.courses}}
                          <a>{{@key}}</a>
                        {{/each}}
                      </ul>
                    </div>

                    <div id="Settings" class="tabcontent">
                      <h3>Settings</h3>
                        <a>Recommend Content</a>
                      <div class="onoffswitch">
                          <input type="checkbox" name="suggestcontent" id="recommendContent"
                              {{data.settings.recommendContent}}>
                          <label for="myonoffswitch">
                          </label>
                      </div>
                        <br>
                        <br>

                        <a>Reset password</a>
                        <div class="passwordreset">
                            <input type="text" name="resetpassword">
                            <br>
                            <input type="text" name="resetcheck">
                        </div>
                        <br>
                        <br>
                            <a>Offline Content</a>
                    <a><div class="onoffswitch">
                        <input type="checkbox" name="suggestcontent" class="onoffswitch-checkbox" id="offlineContent"
                            {{data.settings.offlineContent}}>
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div></a>
                    </div>
                    <button class="modal-default-button" @click="$emit('close')"> Exit </button>
                </div>
                <!-- END OF MODAL TEXT -->

              </div>
            </div>
          </div>
        </transition> `

	});

let courses = {};
{{#each data.courses as |course name|}}
    courses.{{name}} = {};
    {{#each course as |value subject|}}
        courses.{{name}}.{{subject}} = {{value}};
    {{/each}}
{{/each}}

  let curCourse = new Vue ({
    el: ".maindiv",
    data: {
      currentCourse: "ACT"
    }
  });

	const menuModal = new Vue ({
		el: "#toolbar",
		data: {
			showModal: false
		}
	});

</script>
